.bg-img-faq {
  height: 100vh;
  background: url(../../public/img/pexels-teona-swift-6913112.jpg) no-repeat 50%
    50% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
