.bg-img-gallery {
  height: 100vh;
  background: url(../img/pexels-roman-odintsov-6022846.jpg) no-repeat 50% 50%
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: scroll;
  -ms-overflow-style: none;
}
.bg-img-gallery::-webkit-scrollbar {
  display: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  background-color: #b9b9b946;
  padding: 5%;
}

@media screen and (max-width: 800px) {
  .container {
    padding: 20% 5%;
  }
}
