:root {
  --sentence-background-color: #27272742;
  --sentence-color: #e6e6e6;
}

.bg-img-home {
  height: 100vh;
  background: url(../../public/img/pexels-anna-shvets-5894050.jpg) no-repeat 50%
    50% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sentences {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #3f3f3f65;
  position: absolute;
  top: 20%;
  font-family: "Times New Roman", Times, serif;
}

.sentence1 {
  color: var(--sentence-color);
  font-size: 400%;
  position: relative;
  padding: 3% 0 3% 5%;
  animation: slide 1.5s;
}

.sentence2 {
  color: var(--sentence-color);
  font-size: 400%;
  position: relative;
  padding: 3% 0 3% 20%;
  animation: slide 1.5s;
}

@keyframes slide {
  from {
    left: -25%;
  }
  to {
    left: 0;
  }
}
