.bg-img-location {
  height: 100vh;
  background: url(../img/pexels-teona-swift-6913752.jpg) no-repeat 50% 50% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
